<h1>Welcome home</h1>

<% current_time = Time.now %>
<p>The time right now is <%= current_time %></p>

<%= link_to 'About Us', about_path %>
<%= link_to 'Contact Us', contact_path %>
<!--link_to('Contact Us', contact_path) -->
<!-- link_to('What it should say', WHERE it should go(prefix)) -->
<!-- contact_path = '/contact'-->
